<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Wantlist Items</h1>
    </div>
  </div>
  <div class="col-sm">
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <div class="btn-toolbar mb-2 mb-md-0 float-end">
      <div class="btn-grp mr-2">
        <%= button_to 'New Want List Item', new_want_list_item_path, :method => "get", class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm table-responsive">
    <table class="table table-striped text-center" id="all-want-list-items-table" data-source="<%= want_list_items_path(format: :json)%>" data-turbolinks='false'>
      <thead>
        <tr>
          <th>WantList Name</th>
          <th>EAN</th>
          <th>ISBN</th>
          <th>Quantity</th>
          <th>Quantity Purchased</th>
          <th>Max Price</th>
          <th>Author</th>
          <th>Title</th>
          <th>Publisher</th>
          <th>Edition</th>
          <th>List Price</th>
          <th>% Of List</th>
          <th>Max BS</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
