
<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Manage Wantlists</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="btn-toolbar mb-2 mb-md-0 float-end">
      <div class="btn-grp mr-2">
        <%= button_to 'New Want List', new_want_list_path, :method => "get", class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <table class="table table-striped" id="want-lists-table" data-source="<%= want_lists_path(format: :json) %>" data-turbolinks='false'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Privacy</th>
          <th>Active</th>
          <th>Valore Account</th>
          <th>Upload Status</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
