<%= javascript_include_tag 'want_lists' %>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-color-text--grey">
    <h5>Manage Wantlists</h5>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <table id="want-lists-table" data-source="<%= want_lists_path(format: :json) %>" class="mdl-data-table" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Privacy</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <%= button_to 'New Want List', new_want_list_path, :method => "get", class: "mdl-button mdl-button--colored" %>
  </div>
</div>
