<%= javascript_include_tag 'want_list_items' %>
<%= stylesheet_link_tag 'want_list_items', media: 'all' %>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-color-text--grey">
    <h5>Wantlist Items</h5>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <table id="want-list-items-table" data-source="<%= items_want_list_path(@want_list, format: :json)%>" class="mdl-data-table" width="100%">
      <thead>
        <tr>
          <th>EAN</th>
          <th>Quantity</th>
          <th>Max Price</th>
          <th>Author</th>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <%= link_to 'Back', want_lists_path %>
  </div>
</div>
