<%= javascript_include_tag 'users' %>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-color-text--grey">
    <h5>Manage Users</h5>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <table id="users-table", data-source="<%= users_path(format: :json) %>", class="mdl-data-table" width="100%" >
      <thead>
        <tr>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
</div>
