

<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Rental Returns</h1>
    </div>
  </div>
  <div class="col-sm"></div>
</div>
<div class="row">
  <div class="col-sm">
    <table id="rental_returns-table" data-source="<%= rental_returns_path(format: :json) %>"  data-turbolinks='false'>
      <thead>
        <tr>
          <th>Account Type</th>
          <th>Email</th>
          <th>Name</th>
          <th>Phone number</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip code</th>
          <th>Submitted</th>
          <th>Created Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>