<%= javascript_include_tag 'audits' %>

<p id="notice"><%= notice %></p>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-color-text--grey">
    <h5>Audits</h5>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <table id="audits-table", data-source="<%= audits_path(format: :json) %>", class="mdl-data-table" width="100%" >
      <thead>
      <tr>
        <th>Sku</th>
        <th>Status</th>
        <th>Notes</th>
        <th>Internal price 4</th>
        <th>Internal note 1</th>
        <th>Internal note 2</th>
        <th>Internal note 3</th>
        <th>Date created</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
</div>
