<%= javascript_include_tag 'books' %>
<%= stylesheet_link_tag 'books', media: 'all' %>

<table id="books-table" data-source="<%= books_path(format: :json) %>" class="mdl-data-table display nowrap" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>EAN</th>
    <th>ISBN</th>
    <th>ListPrice</th>
    <th>LowestFba</th>
    <th>LowestGoodPrice</th>
    <th>SalesRank</th>
    <th>BBAP</th>
    <th>Direct</th>
    <th>TQS</th>
    <th>7SQAD</th>
    <th>7SQMD</th>
    <th>PastDaySalesHistoryLowestPrice</th>
    <th>PastDaySalesHistoryHighestPrice</th>
    <th>PastWeeklySalesHistoryLowestPrice</th>
    <th>PastWeeklySalesHistoryHighestPrice</th>
    <th>PastMonthlySalesHistoryLowestPrice</th>
    <th>PastMonthlySalesHistoryHighestPrice</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
