<%= javascript_include_tag 'books' %>
<%= stylesheet_link_tag 'books', media: 'all' %>

<table id="books-table" data-source="<%= books_path(format: :json) %>" class="mdl-cell mdl-cell--10-col mdl-data-table" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>ISBN</th>
    <th>Author</th>
    <th>Title</th>
    <th>PubDate</th>
    <th>TQS</th>
    <th>DayDirect</th>
    <th>WeekDirect</th>
    <th>MonthDirect</th>
    <th>YearDirect</th>
    <th>BBAP</th>
    <th>7SQMD</th>
    <th>Low</th>
    <th>FBALow</th>
    <th>SalesRank</th>
    <th>ListPrice</th>
    <th>W/NW</th>
    <th>WholeSale</th>
    <th>Direct</th>
    <th>1DQCA</th>
    <th>7DQCA</th>
    <th>DayAmz</th>
    <th>WeekAmz</th>
    <th>MonthAmz</th>
    <th>YearAmz</th>
    <th>Last Update</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div id="details" class="mdl-cell mdl-cell--2-col">
</div>

