<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Tracked SKUS</h1>
    </div>
  </div>
  <div class="col-sm">

  </div>
</div>
<div class="row">
  <div class="col-sm">
    <table id="tracked_skus-table" data-source="<%= tracked_skus_path(format: :json) %>" data-turbolinks='false'>
      <thead>
        <tr>
          <th>ASIN</th>
          <th>ISBN</th>
          <th>PublicationDate</th>
          <th>Title</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Binding</th>
          <th>Condition</th>
          <th>Location</th>
          <th>SKU</th>
          <th>LocatorCode</th>
          <th>Suffix</th>
          <th>DateCreated</th>
          <th>InternalPrice4</th>
          <th>InternalNotes1</th>
          <th>InternalNotes2</th>
          <th>InternalNotes3</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>