
<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Thrift Orders</h1>
    </div>
  </div>
  <div class="col-sm">

  </div>
</div>
<div class="row">
  <div class="col-sm table-responsive">
    <table class="table table-striped text-center" id="thrift_orders-table" data-source="<%= thrift_orders_path(format: :json) %>"  data-turbolinks='false'>
      <thead>
        <tr>
        <th>ExternalOrderId</th>
        <th>WantList</th>
        <th>Status</th>
        <th>CreatedAt</th>
        <th>UpdatedAt</th>
        <th></th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
