<%= javascript_include_tag 'thrift_orders' %>

<p id="notice"><%= notice %></p>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-color-text--grey">
    <h5>Thrift Orders</h5>
  </div>

  <div class="mdl-cell mdl-cell--10-col">
    <table id="thrift_orders-table" data-source="<%= thrift_orders_path(format: :json) %>" class="mdl-data-table">
      <thead>
      <tr>
        <th>ExternalOrderId</th>
        <th>WantList</th>
        <th>Status</th>
        <th>CreatedAt</th>
        <th>UpdatedAt</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
</div>
