@import 'jquery-ui.css';
@import 'material';
@import 'dataTables/jquery.dataTables';

.mdl-tooltip{
  max-width: 100%;
}

.mdl-textfield__error{
  visibility: visible;
}

.want_list_form_supporting_text {
  overflow:auto;
}
