@media screen and (min-width: 480px) {
  #books-table_wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 980px) {
  #books-table_wrapper {
    width: 60%;
  }
}

@media screen and (min-width: 1441px) {
  #books-table_wrapper {
    width: 75%;
  }
}

#details {
  width: 400px;
}

.DTFC_LeftBodyLiner {
  overflow-y: hidden !important;
}

td {
  white-space: pre-wrap;
}
