@media screen and (min-width: 480px) {
  #easy_post_accounts-table_wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 980px) {
  #easy_post_accounts-table_wrapper {
    width: 60%;
  }
}

@media screen and (min-width: 1441px) {
  #easy_post_accounts-table_wrapper {
    width: 85%;
  }
}

.easy_post_form {
  height: auto;
  overflow-y: auto;
}