// Place all the styles related to the WantLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//edit wantlist
.layout_height{
  height: auto
}

//wantlist_index title
.title-header{
  padding-top: 20px;
  margin-left: -130px;
}