<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Custom Isbns</h1>
    </div>
  </div>
  <div class="col-sm">

  </div>
</div>
<div class="row">
  <div class="col-sm">
    <table id="custom_isbns-table" data-source="<%= custom_isbns_path(format: :json) %>" data-turbolinks='false'>
      <thead>
        <tr>
          <th>Text isbn</th>
          <th>Alt isbn</th>
          <th>Custom isbn</th>
          <th>Code isbn</th>
          <th>Tag</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
