<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Accounts</h1>
    </div>
  </div>
  <div class="col-sm">

  </div>
</div>
<div class="row">
  <div class="col-sm">
    <table id="accounts-table" data-source="<%= accounts_path(format: :json) %>", data-turbolinks='false'>
      <thead>
        <th>Name</th>
        <th>Account Number</th>
        <th>Source Type</th>
        <th>Source Name</th>
        <th>Address Ln1</th>
        <th>Address Ln2</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Phone Number</th>
        <th>Extension</th>
        <th></th>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
