<%= javascript_include_tag 'accounts' %>

<p id="notice"><%= notice %></p>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-color-text--grey">
    <h5>Accounts</h5>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <table id="accounts-table", data-source="<%= accounts_path(format: :json) %>", class="mdl-data-table" width="100%" >
      <thead>
      <tr>
        <th>Name</th>
        <th>Account Number</th>
        <th>Source Type</th>
        <th>Source Name</th>
        <th>Address Ln1</th>
        <th>Address Ln2</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Phone Number</th>
        <th>Extension</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Account', new_account_path %>
